.solar-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--accent-color4);
  margin-bottom: 10px;
}

.solar-flex {
  display: flex;
  gap: 24px;
}

.solar-time {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--accent-color2);
}

.solar-label {
  font-size: 1.4rem;
}